

 label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#end_date{
	margin-left: 10px;
}

#rettangolo{
	min-height: 500px;
 
}

#cercabutton{
	margin-left: 30px;
}
 
#tabella{
	max-width:129px;
}
  
