  @media (min-width: 1200px) {
  
 .mainform {
 
margin-left: 280px;
float:left;
 
}

 }

#firstbutton {
	margin-left: 78px;
}

#verifydiv {
	 float:left;
	 display:block;
	 margin-left: 600px;
}

#distance {
	margin-top:40px;
}
#distance2 {
	margin-top:20px;
}

#secondbutton {
	margin-top : 20px;
	margin-left: 60px;
}

#footer {
	 
 
}
 
