 @media (min-width: 1200px) {
  
 
#verifydiv {
	 float:left;
	 display:block;
	 margin-left: 280px;
}

 } 
 

 

#distance {
	margin-top:40px;
}
#distance2 {
	margin-top:20px;
}

#secondbutton {
	margin-top : 20px;
	margin-left: 60px;
}

 